<!-- AUTHOR: RUCHIKA SHIVASAWAMY -->
{% extends "base.html" %}
{% block title %}LoginPage{% endblock %}
{% block header %}
            <a href = "/">
            {% load static from staticfiles %}
              <img class="logo" src="{% static 'images/antarinX_logo_full.png' %}" alt = "antarin logo"/> 
            </a>
{% endblock%}
{% block content %}
     <div class="login-error">
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>

    <div class = "login-form">
        <form method="post" action=".">{% csrf_token %}
            {{ form.username }}
            
            {{ form.password }}
            <br/><br/>
            <input type="submit" value="Log In" id="submit-button"/>
            <input type="hidden" name="next" value="/home" />   
            <br/> 
            <a href="/signup" id="signup-link">Sign Up</a>
            <a href="/passwordreset" id="forgot-password">forgot password?</a>
            
        </form>
    </div> 
{% endblock %}