{% extends "base.html" %}
{% block title %}Password Reset Page{% endblock %}

{% block content %}

<p class="section-header"> Please enter your email address. </p>
<div id="password-reset-error">
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>
<div class = "login-form">
	<form method="post" action=".">{% csrf_token %}
		{{form.username}}
		<br/>
		<br/>
        <input type="submit" value="Send an email to this address" /><br/>
		
    </form>
</div>

{% endblock %}