{% extends "base.html" %}
{% block title %}SignUp Page{% endblock %}
{% block head %}Sign-Up{% endblock %}
{% block header %}
            <a href = "/">
            {% load static from staticfiles %}
              <img class="logo" src="{% static 'images/antarinX_logo_full.png' %}" alt = "antarin logo"/> 
            </a>
            <div id="header-right">
                {% if user.is_authenticated %}
                    <div class="user-firstname">{{ user.first_name }}</div>
                    <a class= "logout-button" href="/logout/">Logout</a>
                {% endif %}
            </div>
{% endblock%}
{% block content %}
	<p class="section-header"> Create your Antarin profile. </p>
<div class = "signup-form">
	<form method="post" action=".">{% csrf_token %}
		{% for field in form %}
	        {{ field }}
	        {{ field.errors }}
	        {% if field.help_text %}
	        	<p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
		{% endfor %}
        <br/><br/>
        <input type="submit" value="Create Account" /><br/>
         <a href="/" id="signup-link">Login</a>
        <a href="/passwordreset/" id="forgot-password">forgot password?</a>
    </form>
</div>

{% endblock %}