{% extends "base.html" %}
{% block title %}VerificationPage{% endblock %}
{% block header %}
            <a href = "/">
            {% load static from staticfiles %}
              <img class="logo" src="{% static 'images/antarinX_logo_full.png' %}" alt = "antarin logo"/> 
            </a>
            <div id="header-right">
                {% if user.is_authenticated %}
                    <div class="user-firstname">{{ user.first_name }}</div>
                    <a class= "logout-button" href="/logout/">Logout</a>
                {% endif %}
            </div>
{% endblock%}
{% block content %}
<p class="verification-text">Thank you verifying your email address!</p>
<div id="link-container"><a href="/" id="verification-login"> Login to your antarinX account</a></div>
{% endblock %}