{% extends "base.html" %}

{% block title %}UserHomepage{% endblock %}

{% block header %}
            <a href = "/">
            {% load static from staticfiles %}
              <img id="dashboard_logo" style="width:100px;height:100px;" src="{% static 'images/dots_icon_350px.png' %}" alt = "antarin logo"/> 
            </a>

            
            <div class="dropdown" style="float:right;">
                  <button class="dropbtn" style="color:black;background-color:white;font-family:'Helvetica Neue';">
                      {% if user.is_authenticated %}
                            {{ user.first_name }}
                      {% endif %}
                  </button>
                  <div class="dropdown-content">
                       <!-- <a href="#">Account</a>
                        <a href="#">Data Storage {{used_data_storage}}/{{total_data_storage}}</a>-->
                        <a href="/logout/">Logout</a>
                  </div>
            </div>
           
{% endblock%}
