{% extends "base.html" %}
{% block title %}UserHomepage{% endblock %}
{% block head %}{% endblock %}

{% block content %}
    <ul class="menu">
        <li><a href="#">LOAD DATA</a></li>
        <li><a href="#">BUTTON 2 </a></li>
        <li><a href="#">BUTTON 3 </a></li>
    </ul>
    <hr align="center"/>
    {% if message %}
	 	<p>{{message}}</p>
	{% endif %}
    <br/><br/><br/>
	 <form method = "post" action="#" enctype="multipart/form-data" class = "login-form"> {% csrf_token %}
	  <div class = "submit_section">
     
      {{form}}
      <br/><br/>
        <input id= "upload" type = "submit" value = "Upload Image"/>
        </div>
    </form>
    {% if user.userprofile.user_image %}
        <img class="user-uploaded" src="{{ user.userprofile.user_image.url }}"/>
    {% endif %}
    <img class="admin-uploaded" src="/static/images/picture1.jpeg" alt = "antarin logo"/> 
    <img class="admin-uploaded" src="/static/images/picture2.jpeg" alt = "antarin logo"/> 
{% endblock %}