{% extends "base.html" %}
{% block title %}PasswordReset-EmailSent{% endblock %}
{% block header %}
            <a href = "/">
            {% load static from staticfiles %}
              <img class="logo" src="{% static 'images/antarinX_logo_full.png' %}" alt = "antarin logo"/> 
            </a>
            <div id="header-right">
                {% if user.is_authenticated %}
                    <div class="user-firstname">{{ user.first_name }}</div>
                    <a class= "logout-button" href="/logout/">Logout</a>
                {% endif %}
            </div>
{% endblock%}
{% block content %}
	<div class="thank-you">
	    <br/>
	    An email has been sent to the address that was provided. Please follow the instructions in the email to reset your password.
    </div>
{% endblock %}