{% extends "base.html" %}
{% block title %}SignUp-EmailSent{% endblock %}
{% block header %}
            <a href = "/">
            {% load static from staticfiles %}
              <img class="logo" style="width:294px;height:80px;" src="{% static 'images/antarin_technologies_logo_1.0.png' %}" alt = "antarin logo"/> 
            </a>
            <div id="header-right">
                {% if user.is_authenticated %}
                    <div class="user-firstname">{{ user.first_name }}</div>
                    <a class= "logout-button" href="/logout/">Logout</a>
                {% endif %}
            </div>
{% endblock%}
{% block content %}
	<div class="thank-you">
	    <b>Thank you for creating your antarinX account!</b>
	    <br/><br/>
	    Please check your email and follow the link to activate your antarinX account.
    </div>
{% endblock %}