<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>69443CBF52AD31A0</RequestId><HostId>f5QYTfz3rPjc9RuCcERBZFjdqYfphrim8KtREa1CyJd25nKLuFg+x6YAi4JOu6AHOZY+d8mkxsI=</HostId></Error>